@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: snooth;
}

html,
body {
  @apply size-full;
}

.main-container {
  max-width: 97vw;
  margin: 0 auto;
  padding: 5 5px;
}

main {
  @apply flex-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tight;
}

.library-wrapper {
  height: calc(100vh - theme ("height.16"));
}
