body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #f9f9fd, #4470af);
}
.container {
  margin-top: 100px;
  width: 350px;
  height: 500px;
  background: #14398e;
  overflow: hidden;
  background: linear-gradient(to bottom, #fefeff, #4470af);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #00000066;
}

#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

label {
  color: #000000;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 40px auto 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

input {
  width: 60%;
  height: 40px;
  background: #f0f3f974;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  color: #000000;
  font-size: 15px;
  border: none;
  outline: none;
}

button {
  width: 60%;
  height: 40px;
  background: #4470af;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.5s ease-in;
}

button:hover {
  background: #12436e;
}

.login {
  height: 460px;
  background: #fff;
  border-radius: 60% / 10%;
  transform: translateY(-140px);
  transition: 0.8s ease-in-out;
  overflow: hidden;
}

.login label {
  color: #000000;
  transform: scale(0.6);
}

#chk:checked ~ .login {
  transform: translateY(-450px);
}

#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~ .signup label {
  transform: scale(0.6);
}

.error {
  color: #ff4d4f;
  font-size: 0.8rem;
  margin-top: 2px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: lighter;
}

.error {
  animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
